/* Import the Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Default font family for the document */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: var(--color-bg);
}

h1 {
  font-weight: 900;
  font-size: 3.6rem;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 26px;
}
/* Links */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
}
/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* Responsive Design */
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 22px;
  }
}
